<div class="container">
  <header>
    <h1>Portafolio de evidencias parcial 1</h1>

    <p>Contiene los 5 ejercicios realizados en clase, y el ejercicio de tarea es el número 6. Todos los demás van en orden hasta el número 5.</p>
  </header>

  <main>
    <section class="projects">
      <a href="https://1-fundamentos-cyan.vercel.app/" class="project-card">
        <h2>Fundamentos</h2>
        <p>Primer ejercicio realizado en clase.</p>
      </a>
      <a href="https://ejemplos02.vercel.app/" class="project-card">
        <h2>Ejemplo 02</h2>
        <p>Segundo ejercicio realizado en clase.</p>
      </a>
      <a href="https://ejemplo03.vercel.app/" class="project-card">
        <h2>Ejemplo 03</h2>
        <p>Tercer ejercicio realizado en clase.</p>
      </a>
      <a href="https://ejemplo4-neon.vercel.app/" class="project-card">
        <h2>Ejemplo 04</h2>
        <p>Cuarto ejercicio realizado en clase.</p>
      </a>
      <a href="https://ejemplo05.vercel.app/" class="project-card">
        <h2>Ejemplo 05</h2>
        <p>Quinto ejercicio realizado en clase.</p>
      </a>
      <a href="https://vercel.com/dairemis-projects/6practica" class="project-card">
        <h2>Ejercicio de practica (6)</h2>
        <p>Ejercicio de tarea.</p>
      </a>
    </section>
  </main>

