<div style="text-align:center; padding: 50px;">
  <h1>Mi Portafolio</h1>
  <p>Haz clic en los enlaces para ver mis proyectos</p>
  <button (click)="redirectTo('https://1-fundamentos-cyan.vercel.app/')">Proyecto 1: Fundamentos</button>
  <button (click)="redirectTo('https://ejemplos02.vercel.app/')">Proyecto 2: Ejemplos 02</button>
  <button (click)="redirectTo('https://ejemplo03.vercel.app/')">Proyecto 3: Ejemplo 03</button>
  <button (click)="redirectTo('https://ejemplo4-neon.vercel.app/')">Proyecto 4: Ejemplo 04</button>
  <button (click)="redirectTo('https://ejemplo05.vercel.app/')">Proyecto 5: Ejemplo 05</button>
  <button (click)="redirectTo('https://vercel.com/dairemis-projects/6practica')">Proyecto 6: 6Practica</button>
</div>
